body {
    font-family: Courier, "Courier New", monospace;
    font-size: 13px;
    margin: 30px auto;
    width: 800px;
}

h1 {
    font-size: 200%;
}

a {
    color: #000;
    text-decoration: underline;
}

a.root-link {
    text-decoration: none;
}

pre {
    background: #eee;
    margin: 8px 0 10px 0;
    overflow-wrap: break-word;
    padding: 8px;
    white-space: pre-wrap;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}
