{%- macro date(comment) -%}{{ comment.created_at.strftime('%Y-%m-%d') }}{%- endmacro -%}
{%- macro datetime(comment) -%}{{ comment.created_at.strftime('%Y-%m-%d %H:%M:%S') }}{%- endmacro -%}
{%- macro id(comment) -%}{{ comment.short_url.split('/')[-1] }}{%- endmacro -%}
{%- macro permalink(comment) -%}{%- set year, month, day = date(comment).split('-') -%}../{{ year }}/{{ month }}/{{ day }}/#{{ id(comment) }}{%- endmacro -%}
{%- macro time_tag(datetime) -%}<time datetime="{{ datetime }}">{{ datetime }}</time>{%- endmacro -%}
{%- macro verbatim_link(link) -%}<a target="_blank" href="{{ link }}">{{ link }}</a>{%- endmacro -%}
<!DOCTYPE html>
<html>
<head>
  <title>MrMarchive latest</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <h1><a href="../" class="undecorated">MrMarchive</a> latest</h1>
  {% for comment in comments -%}
  <div id="{{ id(comment) }}">
    <a href="#{{ id(comment) }}">{{ time_tag(datetime(comment)) }}</a> (<a target="_blank" href="{{ permalink(comment) }}">permalink</a>), {{ verbatim_link(comment.short_url) }}
    <pre>{{ comment.body.replace('\r', '') }}</pre>
  </div>
  <hr>
  {% endfor -%}
</body>
</html>
{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
