{%- macro day(date) -%}{{ date.split('-')[-1] }}{%- endmacro -%}
{%- macro linked_month(month) -%}{%- set year, month = month.split('-') -%}<a href="../" class="undecorated">{{ year }}</a>-{{ month }}{%- endmacro -%}
<!DOCTYPE html>
<html>
<head>
  <title>MrMarchive {{ month }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
  <h1><a href="../../" class="undecorated">MrMarchive</a> {{ linked_month(month) }}</h1>
  <ul>
  {% for date, count in dates -%}
    <li><a href="{{ day(date) }}/">{{ date }}</a> ({{ count }})</li>
  {% endfor -%}
  </ul>
</body>
</html>
{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
