{%- macro month_num(month) -%}{{ month.split('-')[-1] }}{%- endmacro -%}
<!DOCTYPE html>
<html>
<head>
  <title>MrMarchive {{ year }}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <h1><a href="../" class="root-link">MrMarchive</a> {{ year }}</h1>
  <ul>
  {% for month, count in months -%}
    <li><a href="{{ month_num(month) }}/">{{ month }}</a> ({{ count }})</li>
  {% endfor -%}
  </ul>
</body>
</html>
{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
